<h1>Home#index</h1>
<p>
	Find me in app/views/home/index.html.erb
</p>
<ul class="thumbnails">
	<li class="span5">
		<div class="thumbnail">
			<%= image_tag("apple-touch-icon.png")%>
			<h3>Thumbnail label</h3>
			<p>
				Thumbnail caption...
			</p>
		</div>
	</li>
	
</ul>